#intro-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  min-width: 90vw;
  max-width: 98.5725vw;
  max-height: 1000vh;
  margin-bottom: 10vmax;
}

img {
  max-height: 100vh;
  max-width: 50vw;
}

#intro-writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
