<div id="wireframe-container">
    <h1>Wireframes</h1>

    <p-galleria
            [value]="wireframes"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '40vmax', 'min-width': '40vw', 'height': '30vmax', 'margin-bottom': '20vh' }"
            [numVisible]="5">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.image" style="width: 100%; max-height: 60vh; box-sizing: border-box"  [alt]=item.title />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]=item.image style="width: 100px; height: 100px" [alt]=item.title />
            </div>
        </ng-template>
        <ng-template pTemplate="caption" let-item>
            <p style="margin-bottom: .5rem; color: #ffffff">{{ item.title }}</p>
        </ng-template>
    </p-galleria>
</div>
