#mvp-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 98.5725vw;
  max-height: 1000vh;
  border-radius: 15px;
  margin-bottom: 15vmax;
}

img {
  max-height: 65vh;
  min-width: 20vw;
  position: relative;
  z-index: -1000;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: 0;
}

p-card {
  max-height: 1000vh;
  max-width: 25.5vmax;
  min-width: 22vmax;
}

#customer-chart{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;

  & > div {
    max-width: 33.3vw;
    min-width: 20vmax;
    min-height: 20vh;
    max-height: 80vh;
    margin: 2vw;

    & > p {
      text-align: center;
      margin-top: 1vh;
      margin-bottom: 5vh;
      width: 100%;
    }
  }
}

#mvp-posts-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
