<h1>Metrics</h1>
<div id="metrics-container">
  <div id="metrics-writing">
    <table>
      <tr>
        <td>Conversion rate</td>
        <td>Average order value (AOV)</td>
      </tr>
      <tr>
        <td>Customer lifetime value (CLV)</td>
        <td>Shopping cart abandonment rate</td>
      </tr>
      <tr>
        <td>Traffic sources</td>
        <td>Bounce rate</td>
      </tr>
      <tr>
        <td>Mobile traffic and sales</td>
        <td>Return on ad spend (ROAS)</td>
      </tr>
      <tr>
        <td>Time on site</td>
        <td>Repeat customers</td>
      </tr>
    </table>

    <img src="./assets/Metrics.png" alt="metrics">
  </div>
  <div>

  </div>
</div>
