<h1> Cost Structure and Revenue</h1>
<div id="cost-revenue-container">
  <img src="./assets/Cost.png" alt="cost">

  <p-card>
    <h4>Cost Structure</h4>
    <ul>
      <li>
        Buying laptops
      </li>
      <br>
      <li>
        Renting servers
      </li>
      <br>
      <li>
        Ads cost
      </li>
    </ul>

    <h4> Revenue Streams</h4>
    <ul>
      <li>
        Buyer protection service
      </li>
      <br>
      <li>
        Offer highlight service
      </li>
      <br>
      <li>
        Sign-up commission for companies
      </li>
      <br>
      <li>
        Product selling commission
      </li>
      <br>
    </ul>
  </p-card>
</div>
