<p-toolbar id="header-toolbar">
  <div class="p-toolbar-group-center">
    <a href="https://ecocorp.my.canva.site/">
      <p-button id="home-button" label="Home" [text]="true" size="large" severity="success"></p-button>
    </a>

    <button pButton class="p-button-text p-button-plain">
      <b><u>Fiki</u></b>
    </button>
  </div>
</p-toolbar>

<div id="intro-container">
  <div id="intro-writing">
    <h2>EcoCorp Marketplace</h2>
    <h5> A hub where companies resell things <br> they don't need anymore. </h5>
  </div>
  <img src="./assets/Intro.png" alt="intro">
</div>
