<div id="problem-solution-container">
  <div id="problem-solution-central">
    <img alt="Central element"
         loading="eager"
         src="./assets/landing-problem-solution/EcoCorp.jpg"
         style="width:55vmin;height:55vmin;display:block;transform:translate(-50%, -50%); position:absolute; top: 50%; left: 50%">
  </div>

  <div id="blue-points-up">
    <img alt="Bluepoints"
         loading="eager"
         src="./assets/landing-problem-solution/bluepoints.png"
         style="width: 15vmin;height: 10vmin;display:block; position:absolute; top: 0">

  </div>
  <div id="blue-points-down">
    <img alt="Bluepoints"
         loading="eager"
         src="./assets/landing-problem-solution/bluepoints.png"
         style="width:15vmin;height:10vmin;display:block; position:absolute; bottom: 0; right: 0; overflow: hidden">

  </div>
<!--  Problemele-->
  <div id="first-problem" style="position: absolute; top: 5%; left: 5%">
    <p class="problem-solution-title">
      Problem
    </p>

    <p class="problem-solution-content">
      Companies do not have a platform <br> to sell disused items
    </p>

  </div>
  <div id="second-problem" style="position: absolute; top: 75%; left: 5%">
    <p class="problem-solution-title">
      Problem
    </p>

    <p class="problem-solution-content">
      The government does not have <br> an attractive website
    </p>

  </div>
<!--  Solutiile -->
  <div id="first-solution" style="position: absolute; top: 5%; right: 5%">
    <p class="problem-solution-title">
      Solution
    </p>

    <p class="problem-solution-content">
      Platform where companies can sell <br> no longer used items<br>
    </p>
  </div>

  <div id="second-solution" style="position: absolute; top: 75%; right: 5%">
    <p class="problem-solution-title">
      Solution
    </p>

    <p class="problem-solution-content">
      A popular platform for users to buy <br> confiscated items
    </p>
  </div>


<!--  Sagetile -->
  <img alt="Problem 1 arrow"
       loading="lazy"
       src="./assets/landing-problem-solution/arrow1.svg"
       style="width:20vmin;height:20vmin;display:block; position: absolute; top: 30%; left: 37.5%;transform:translate(-50%, -50%) rotate(185deg);">

  <img alt="Problem 2 arrow"
       loading="lazy"
       src="./assets/landing-problem-solution/arrow2.svg"
       style="width:20vmin;height:15vmin;display:block; position: absolute; top: 70%; left: 37.5%;transform:translate(-50%, -50%) rotate(150deg);">

  <img alt="Solution 1 arrow"
       loading="lazy"
       src="./assets/landing-problem-solution/arrow2.svg"
       style="width:20vmin;height:15vmin;display:block; position: absolute; top: 30%; left: 65%;transform:translate(-50%, -50%) rotate(330deg);">

  <img alt="Solution 2 arrow"
       loading="lazy"
       src="./assets/landing-problem-solution/arrow1.svg"
       style="width:20vmin;height:20vmin;display:block; position: absolute; top: 70%; left: 62.5%;transform:translate(-50%, -50%) rotate(-15deg);">
</div>
