<p-button id="option-button" (onClick)="switchSidebar()" icon="pi pi-bars" [rounded]="true" [text]="true" [raised]="true"></p-button>

<app-intro-page></app-intro-page>
<app-team-page></app-team-page>
<app-problem-solution-page></app-problem-solution-page>
<app-competition-page></app-competition-page>
<app-metrics-page></app-metrics-page>
<app-cost-revenue-page></app-cost-revenue-page>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <img src="assets/Icon.png" height="30" width="30">
    <p>EcoCorp MarketPlace</p>
  </div>
  <div class="p-toolbar-group-end">
    <a href="https://www.freepik.com/">Freepik</a>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="this.sidebar" position="left">
  <h3>EcoCorp<br>Marketplace</h3>
  <p>
    Introduction<br>
    Meet the team<br>
    Problems and solutions<br>
    Competitors and our advantages<br>
    Metrics<br>
    Cost and Revenue
  </p>

</p-sidebar>
