<div id="team-container">
  <h1>Meet the team</h1>
  <div id="card-container">
    <ng-container *ngFor="let person of team">
      <p-card header="{{person.name}}" subheader="{{person.function}}" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            [src]=person.imageUrl
            width="360"
            height="400"
            style=""/>
        </ng-template>

        <p>Email: {{person.contact}}</p>
      </p-card>
    </ng-container>
  </div>
</div>
