#interview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  max-width: 98.5725vw;
  margin-top: 5vmax;
  max-height: 1000vh;
  margin-bottom: 15vmax;
}

#customer-discovery-posts-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#client-chart,
#company-chart{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;

  & > div {
    max-width: 33.3vw;
    min-width: 20vmax;
    min-height: 20vh;
    max-height: 80vh;
    margin: 2vw;

    & > p {
      text-align: center;
      margin-top: 1vh;
      margin-bottom: 5vh;
      width: 100%;
    }
  }
}

#QA-section-container {
  margin: 1vmax;
}

p-fieldset {
  display: block;
  position: relative;
  margin: 2.5vh 0;
  width: 95vw;
}

h3 {
  margin-top: 6vmax;
  margin-bottom: 4vmax;
}
