<h1>Customer Discovery</h1>

<div id="interview-container">
  <div id="QA-section-container">
    <ng-container *ngFor="let QAObject of QASection">
      <p-fieldset legend="{{QAObject.question}}" [toggleable]="true" [collapsed]="true" >
        <p>{{QAObject.answer}}</p>
        <div *ngIf="QAObject.question === QASection[2].question" id="customer-discovery-posts-container">
          <p-image src="./assets/posts-screenshots/Facebook_Concept.jpg" alt="Image" width="250" height="200" [preview]="true"></p-image>
          <p-image src="./assets/posts-screenshots/Reddit_Concept.png" alt="Image" width="250" height="200" [preview]="true"></p-image>
        </div>
      </p-fieldset>
    </ng-container>
  </div>

  <h3>Form results for individuals</h3>
  <div id="client-chart">
    <ng-container *ngFor="let chartData of clientData">
      <div>
        <p-chart type="doughnut" [data]="chartData.data" [options]="chartData.options"></p-chart>
        <p>{{chartData.question}}</p>
      </div>
    </ng-container>
  </div>

  <h3>Form results for companies</h3>
  <div id="company-chart">
    <ng-container *ngFor="let chartData of businessData">
      <div>
        <p-chart type="doughnut" [data]="chartData.data" [options]="chartData.options"></p-chart>
        <p>{{chartData.question}}</p>
      </div>
    </ng-container>
  </div>
</div>
