<h1>Our Competition</h1>
<div id="competition-container">
  <img src="assets/fiki-competition/Competition.png" alt="Competition">

  <p-card>
    <h4> Competitors </h4>
    <img id="OLX" src="assets/fiki-competition/Olx.png" alt="OLX">
    <img id="ANAF" src="assets/fiki-competition/ANAF.jpg" alt="ANAF">
    <img id="PUBLI24" src="assets/fiki-competition/Publi24.jpg" alt="Publi24">

    <h4> Our Advantages</h4>
    <ul>
      <li>
        Our platform will combine most of the features our competitors have and add meaningful functionalities
      </li>
      <br>
      <li>
        We are targeting not only individuals, but also companies
      </li>
      <br>
      <li>
        We provide bigger things at lower prices
      </li>
      <br>
      <li>
        We will take care of the selling process and bureaucracy
      </li>
    </ul>
  </p-card>
</div>
