<div id="competition-container">
  <p-card header="Competitors">
    <img id="OLX" src="./assets/Olx.png" alt="OLX">
    <img id="ANAF" src="./assets/ANAF.jpg" alt="ANAF">
    <img id="PUBLI24" src="./assets/Publi24.jpg" alt="Publi24">
  </p-card>

  <img src="./assets/Competition.png" alt="Competition">

  <p-card header="Our advantages">
    <ul>
      <li>
        Our platform will combine most of the features our competitors have and add meaningful functionalities
      </li>
      <br>
      <li>
        We are targeting not only individuals, but also companies
      </li>
      <br>
      <li>
        We provide bigger things at lower prices
      </li>
      <br>
      <li>
        We will take care of the selling process and bureaucracy
      </li>
    </ul>
  </p-card>
</div>
