<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><!--<base href="/">-->
    <base href=".">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>EcoCorp Marketplace</title>
    <meta content="" name="description">
    <link href="https://ecocorp.my.canva.site/26387fa4f5b1e3f7b6217b27d79bf264.png" rel="icon" sizes="16x16"
          type="image/png">
    <link href="https://ecocorp.my.canva.site/2d0b56e7e51cf11036ad8734bdb67e2d.png" rel="icon" sizes="32x32"
          type="image/png">
    <link href="https://ecocorp.my.canva.site/725b756a69a7d4c235070e51acd85560.png" rel="apple-touch-icon"
          sizes="180x180">
    <meta content="website" property="og:type">
    <meta content="https://ecocorp.my.canva.site/" property="og:url">
    <meta content="EcoCorp Marketplace" property="og:title">
    <meta content="https://ecocorp.my.canva.site//c3cc4b36eeb22a45ded88bb8d689d9c3.png" property="og:image">
    <meta content="image/png" property="og:image:type">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="summary_large_image" name="twitter:card">
</head>
<body>
<div id="root">
  <app-landing-intro></app-landing-intro>
  <app-landing-problem-solution></app-landing-problem-solution>
  <app-landing-target-market></app-landing-target-market>
  <app-landing-primary-functions></app-landing-primary-functions>
  <app-secondary-functions></app-secondary-functions>
</div>
