<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><!--<base href="/">-->
    <base href=".">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>EcoCorp Marketplace</title>
    <meta content="" name="description">
    <link href="https://ecocorp.my.canva.site/26387fa4f5b1e3f7b6217b27d79bf264.png" rel="icon" sizes="16x16"
          type="image/png">
    <link href="https://ecocorp.my.canva.site/2d0b56e7e51cf11036ad8734bdb67e2d.png" rel="icon" sizes="32x32"
          type="image/png">
    <link href="https://ecocorp.my.canva.site/725b756a69a7d4c235070e51acd85560.png" rel="apple-touch-icon"
          sizes="180x180">
    <meta content="website" property="og:type">
    <meta content="https://ecocorp.my.canva.site/" property="og:url">
    <meta content="EcoCorp Marketplace" property="og:title">
    <meta content="https://ecocorp.my.canva.site//c3cc4b36eeb22a45ded88bb8d689d9c3.png" property="og:image">
    <meta content="image/png" property="og:image:type">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="summary_large_image" name="twitter:card">
    <!-- Google tag (gtag.js) -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TZ4F4QRGP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9TZ4F4QRGP');
  </script>
</head>
<body>
<div id="root">
  <a aria-hidden="true" id="introduction-page" style="visibility:hidden;"></a>

  <app-landing-intro></app-landing-intro>
  <a aria-hidden="true" id="problem-solution-page" style="visibility:hidden;"></a>

  <app-landing-problem-solution></app-landing-problem-solution>
  <a aria-hidden="true" id="target-market-page" style="visibility:hidden;"></a>

  <app-landing-target-market></app-landing-target-market>

  <a aria-hidden="true" id="main-features-page" style="visibility:hidden;"></a>
  <section id="djpxkzQ6P5juIsIF"
           style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <div id="xvcaMpvpFKip2z7n"
           style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
          <div id="zpPcOiYccyfgvhud" style="z-index:0;">
              <div id="hObOopNMGk6ypkKi" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                  <div id="E5dFwrPXq3xvoXHb" style="width:100%;height:100%;opacity:1.0;">
                      <div id="IZv2fPMsHGmKvPwd"
                           style="background-color:#ffffff;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;"></div>
                  </div>
              </div>
          </div>
      </div>
      <div id="WxJXnR4bQMH5rVwr" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
          <div id="Iw6BSzvrkBceLNFt">
              <div id="br61BMcLhYi5nmrv" style="display:grid;position:relative;grid-area:2 / 2 / 3 / 3;">
                  <div id="DxF7vUCTKZGmZWqe" style="z-index:1;">
                      <div id="f9UYKvze1JoRsXCb" style="box-sizing:border-box;width:100%;height:100%;">
                          <div class="animation_container" style="width:100%;height:100%;">
                              <div class="animated"
                                   style="width: 100%; height: 100%; animation: 500ms ease 100ms 1 normal both running fade-LEFT-afecd0e0-75be-4233-bdde-8e7030bf4a78;">
                                  <svg id="HgKcoWP0Xq9woZ3F" preserveAspectRatio="none"
                                       style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0;left:0;"
                                       viewBox="0 0 381.0533 178.6069">
                                      <g id="SW7KDBVrpJRay6Ix" style="transform:scale(1, 1);">
                                          <path d="M9.9999999,0.0 L371.05331431,0.0 C373.70547918,0.0 376.24901828000003,1.0535683900000001 378.12438205,2.92893216 379.99974582,4.80429592 381.05331421,7.34783503 381.05331421,9.9999999 L381.05331421,168.60694895 C381.05331421,174.12979639 376.57616175,178.60694885 371.05331431,178.60694885 L9.9999999,178.60694885 C7.34783503,178.60694885 4.80429592,177.55338046 2.92893216,175.67801669 1.0535683900000001,173.80265293 0.0,171.25911382 0.0,168.60694895 L0.0,9.9999999 C0.0,7.34783503 1.0535683900000001,4.80429593 2.92893216,2.92893216 4.80429592,1.0535683900000001 7.34783503,0.0 9.9999999,0.0 Z"
                                                id="slakUiIxjyb8ejO4"
                                                style="fill:#1d1c1c;opacity:1.0;"></path>
                                      </g>
                                  </svg>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="dDmhhcwk3hb7F5y4" style="z-index:2;">
                      <div id="bdT35GIf8Mb9AhNm" style="padding-top:77.02210377%;">
                          <div id="fphrdbvMqfUDjbdA"
                               style="position:absolute;top:0;left:0;width:100%;height:100%;">
                              <div class="animation_container" style="width:100%;height:100%;">
                                  <div class="animated"
                                       style="width: 100%; height: 100%; animation: 500ms ease 100ms 1 normal both running fade-LEFT-a5cc2132-5d4b-4ef4-bb3a-6d75c4a19cfe;">
                                      <div id="UiNyZyJja8TcZj7a" style="width:100%;height:100%;opacity:1.0;">
                                          <div id="HVyEEsgz1aK0CALx"
                                               style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                              <div id="qUJrbgRw5fCn2N6c"
                                                   style="width: calc(146.70876908% * 1); height: calc(100% / 1); position: absolute; top: 50%; left: 50%; opacity: 1; ">
                                                  <img
                                                    loading="lazy"
                                                    alt="Buy and sell main picture"
                                                    src="./assets/landing-page-files/fd1789b9c6ef7374b868c0b544e5c817.jpg"
                                                    style="width:100%;height:100%;display:block;object-fit:cover;object-position:50.8817599% 50%;transform:translate(-50.8817599%, -50%) rotate(0deg);"
                                                  >
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="sl5yBmvntKkmmkZ3" style="z-index:3;">
                      <div id="BwjrfCHCvvusNAQC" style="box-sizing:border-box;width:100%;height:100%;">
                          <div class="animation_container" style="width:100%;height:100%;">
                              <div class="animated"
                                   style="width:100%;height:100%;animation:fade-LEFT-06d5f948-cf43-4d9b-a2e7-abcca8a93e8c 500ms 100ms both paused;">
                                  <div id="XRyb0cN2aL3oVeRO"
                                       style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                      <p id="fk4IRpTu1J7U1B34"
                                         style="color:#ffffff;font-family:Poppins, sans-serif;line-height:1.9em;text-align:center;text-transform:uppercase;">
                                          <span id="Rs8Xf53VlCJ07mnz" style="color:#ffffff;font-weight:700;font-size: 40px;">All Your Shopping to your doorstep at one click away</span>
                                      </p>
                                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="rZrIYbLeo7mhUEZK" style="z-index:4;">
                      <div id="FVhB0atToudugCO8" style="padding-top:39.81807224%;">
                          <div id="OFdBKE0TIMv1pwEQ"
                               style="position:absolute;top:0;left:0;width:100%;height:100%;">
                              <div class="animation_container" style="width:100%;height:100%;">
                                  <div class="animated"
                                       style="width: 100%; height: 100%; animation: 500ms ease 100ms 1 normal both running fade-RIGHT-e1c1e5c5-bcb6-4e93-9b51-be788ed46f01;">
                                      <div id="MvbbuVEpOuFTd67Z" style="width:100%;height:100%;opacity:1.0;">
                                          <div id="isaknCuT11VilKfb"
                                               style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                                              <div id="C9Zb1YqWrQwS97kv"
                                                   style="width: calc(100% * 1); height: calc(160.0730914% / 1); position: absolute; top: 50%; left: 50%; opacity: 1; ">
                                                  <img loading="lazy"
                                                       alt="Buy and sell second picture"
                                                       src="./assets/landing-page-files/11dcf11b7f853b9ca2eb05d1793b3607.jpg"
                                                       style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 52.49550128%;transform:translate(-50%, -52.49550128%) rotate(0deg);">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="KLFjC04vNpYTBC0z" style="z-index:5;">
                      <div id="WFaiDjnfBX6g9sNv" style="box-sizing:border-box;width:100%;height:100%;">
                          <div class="animation_container" style="width:100%;height:100%;">
                              <div class="animated"
                                   style="width:100%;height:100%;animation:fade-RIGHT-8bf13cd1-f148-406f-8084-60462717082e 500ms 100ms both paused;">
                                  <div id="lUaBVE6zZwT758EB"
                                       style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                      <p id="pAm2gwTeYz6IyTJt"
                                         style="color:#ffffff;font-family:Poppins, sans-serif;line-height:1.89473934em;text-align:center;text-transform:uppercase;">
                                          <span id="qvzBYzp7NRD4mORX"
                                                style="color:#ffffff;font-weight:700;font-size: 25px;">Buyer</span><br></p>
                                      <ul id="ogbgGhzgbVhtp8CL">
                                          <li id="ZizTnbNrR9Uwwq2T"
                                              style="color:#ffffff;font-family:Poppins, sans-serif;margin-left:1.7em;line-height:1.375em;list-style-type:disc;">
                                              <span id="XUKkDI0LcF7vrgss" style="color:#ffffff;">Users can add the products they want to their shopping cart</span>
                                          </li>
                                      </ul>
                                      <p id="P2P0Dfd7c0G0jSR7"
                                         style="color:#ffffff;font-family:Poppins, sans-serif;line-height:1.375em;white-space:pre;">
                                          <br></p>
                                      <ul id="ofVZEDAQWPcVfuUB">
                                          <li id="PropdIfONRQivIlM"
                                              style="color:#ffffff;font-family:Poppins, sans-serif;margin-left:1.7em;line-height:1.375em;list-style-type:disc;letter-spacing:0;">
                                              <span id="kOXmuMpefMnNMEtM" style="color:#ffffff;">On checkout, they only need to choose the delivery options and the paying method</span><span
                                                  id="N5aGxstelDfqy4rj" style="color:#000000;"> </span><br></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="bVR1pD6pBpeWKoOC" style="z-index:6;">
                      <div id="MWiayRRl1kBFM4ju" style="box-sizing:border-box;width:100%;height:100%;">
                          <div class="animation_container" style="width:100%;height:100%;">
                              <div class="animated"
                                   style="width:100%;height:100%;animation:fade-RIGHT-bbfc5e64-1146-4333-b0d9-3b122e4f0868 500ms 100ms both paused;">
                                  <div id="hcUrt4N9s5LULnVa"
                                       style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
                                      <p id="udnL8NC6ZGV9lUEo"
                                         style="color:#ffffff;font-family:Poppins, sans-serif;line-height:1.89473934em;text-align:center;text-transform:uppercase;">
                                          <span id="u7Ks5ObFO17Kf7KZ"
                                                style="color:#ffffff;font-weight:700;font-size: 25px;">SELLER</span></p>
                                      <ul id="qBxTDMAykD5x6na1">
                                          <li id="w2dB5c3We9CxJkwt"
                                              style="color:#ffffff;font-family:Poppins, sans-serif;margin-left:1.7em;line-height:1.375em;list-style-type:disc;">
                                              <span id="Txig2Unp3HGCUoMp"
                                                    style="color:#ffffff;">Companies </span><span
                                                  id="clzXyqTGqEcDpMYx" style="color:#ffffff;">can create an account where they can post their products</span>
                                          </li>
                                      </ul>
                                      <p id="CKqrNpXHvpExCXAa"
                                         style="color:#ffffff;font-family:Poppins, sans-serif;line-height:1.375em;white-space:pre;">
                                          <br></p>
                                      <ul id="WIN0EGmwRWXy0spv">
                                          <li id="qMHrpQRLemD8Xev3"
                                              style="color:#ffffff;font-family:Poppins, sans-serif;margin-left:1.7em;line-height:1.375em;list-style-type:disc;letter-spacing:0;">
                                              <span id="KiPhLVrypvvHmq7x" style="color:#ffffff;">After placing an order, the buyer receives a notification and then the order is prepared for delivery</span><br>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="xLtIZdCs3RGZlH4M" style="z-index:7;">
                      <div id="q4vZ8LnMWoWt1yZd" style="box-sizing:border-box;width:100%;height:100%;">
                          <div class="animation_container" style="width:100%;height:100%;">
                              <div class="animated"
                                   style="width:100%;height:100%;animation:fade-RIGHT-acecde94-5254-4d79-a0ed-91d63208f9ef 500ms 100ms both paused;">
                                  <div id="bobYsNSSjvdFOyHt"
                                       style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">

                                          <p id="XRp0UNp1DOJ23vfh" style="color:#ffffff;font-style:italic;font-size: 30px;">We take care of the rest!</p><br>
                                     </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <a aria-hidden="true" id="other-features-page" style="visibility:hidden;"></a>

  <app-secondary-functions></app-secondary-functions>
</div>
