#analytics-validation-container {
  display: flex;
  justify-content: center;
  max-width: 98.5725vw;
  flex-wrap: wrap;
  margin-top: 5vmax;
  margin-bottom: 15vmax;
}

#posts-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 5vmax;
  margin-bottom: 10vmax;
}

#metrics-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 5vmax;
  margin-bottom: 10vmax;
}
