<h1>User Experience</h1>

<div id="UX-container">
  <h3>User interviews</h3>

  <iframe
    src="https://drive.google.com/embeddedfolderview?id=1ElpCupXzyT1mMRG9ZFQ6e5zvy-ZnZCqV#list"
    allow="autoplay"
    id="UX-interviews"
  >
  </iframe>

  <p-panel header="Interview story">
    <p> <b>Age:</b> {{interviewUserStory.age}}</p>
    <p> <b>Gender:</b> {{interviewUserStory.gender}}</p>
    <p> <b>Status:</b> {{interviewUserStory.status}}</p>
    <p> <b>Passion:</b> {{interviewUserStory.passions}}</p>
    <p> <b>User Story:</b> {{interviewUserStory.userStory.story}}</p>
  </p-panel>


  <h3>Main User persona</h3>

  <!--  User persona design -->
  <div id="personaContainer">
    <div class="personaInnerContainer">
      <img alt="User persona img" src="assets/fiki-ux/Persona.png" style="width: 25vmax; margin-top: 20px">

      <p-card>
        <ul style="list-style-type: none;">
          <li style="margin-bottom: 2em">
            <span class="pi pi-user"></span>
            {{persona.name}}
          </li>

          <li style="margin-bottom: 2em">
            <span class="pi pi-calendar"></span>
            {{persona.age}}
          </li>

          <li style="margin-bottom: 2em">
            <span class="pi pi-briefcase"></span>
            {{persona.occupation}}
          </li>

          <li>
            <span class="pi pi-comments"></span>
            {{persona.status}}
          </li>
        </ul>
      </p-card>
    </div>

    <div class="personaInnerContainer">
      <p-card>
        <h4>Motivation</h4>

        <b>Ambition</b> <br>
        {{persona.motivation.Ambitie}}

        <br> <br> <br> <b>Ecology</b> <br>
        {{persona.motivation.Ecologie}}

        <br> <br> <br> <b>Family</b> <br>
        {{persona.motivation.Familie}}
      </p-card>
    </div>

    <div class="personaInnerContainer">
      <p-card header="Needs">
        <ul *ngFor="let needPoint of persona.needs">
          <li>{{needPoint}}</li>
        </ul>
      </p-card>

      <p-card header="About">
          <ul *ngFor="let aboutPoint of persona.about">
            <li>{{aboutPoint}}</li>
          </ul>
      </p-card>
    </div>
  </div>

  <h3>User stories</h3>

  <div id="userStoryContainer">
    <ng-container *ngFor="let userStory of this.userStories">
      <p-card header="User Story {{userStory.id}}">
        <p>
          <i>"{{userStory.story}}"</i>
        </p>
      </p-card>
    </ng-container>
  </div>

  <h3>User flow</h3>

  <div id="userFlowContainer">
    <img style="width: 90vw" alt="User Flow" src="assets/fiki-ux/UserFlows.png"/>
  </div>

  <p-fieldset legend="User Experience Analysis Conclusions">
    <p class="m-0">
      Our analysis has concluded that our project idea and implementation are satisfying our potential customers as it is,
      so we will continue to develop our application using the current version of the app.
    </p>
  </p-fieldset>
</div>
