<h1>Problems and Solutions</h1>
<div id="problem-solution-container">
  <p-card>
    <h4> Problems Identified </h4>
    <ul>
      <li>
        Companies always throw products or equipment they don't need after a
        reorganization or upgrading their equipment even if it can be reused
      </li>
      <br>
      <li>
        ANAF website is not intuitive and updated with real-time data
      </li>
      <br>
      <li>
        No shipping service for confiscated objects by ANAF
      </li>
    </ul>

    <h4>Our Solution</h4>
    <ul>
      <li>
        Website with a user account system
      </li>
      <br>
      <li>
        Posting and highlighting product offers for <b>ANAF</b> and <b>selling companies</b>
      </li>
      <br>
      <li>
        Simple product buying process and buyer protection service for <b>individuals</b> and <b>other companies seeking cheaper products</b>
      </li>
      <br>
      <li>
        Maintenance over the entire contract duration
      </li>
    </ul>
  </p-card>

  <img src="./assets/Solutions.png" alt="solutions">
</div>
