#problem-solution-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 98.5725vw;
  max-height: 1000vh;
  border-radius: 15px;
  margin-bottom: 15vmax;
}

img {
  max-height: 90vh;
  min-width: 30vw;
  position: relative;
  z-index: -1000;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

p-card {
  max-height: 1000vh;
  max-width: 25.5vmax;
  min-width: 22vmax;
}

