<h1>Market Research</h1>

<div id="market-research-container">
  <p-tabView>
    <p-tabPanel header="Target Market">
      <div class = 'market-research-tab'>
        <h4> Small and middle sized businesses (SMBs) ~ 866.323 companies</h4>
        <ul>
          <li>Retail and E-commerce</li>
          <li>Food and Beverage</li>
          <li>Professional Services (Consulting, Legal, Accounting)</li>
          <li>Health and Wellness (Fitness, Healthcare, Wellness Centers)</li>
          <li>Technology and Software</li>
          <li>Manufacturing and Production</li>
          <li>Hospitality (Restaurants, Hotels, Tourism)</li>
          <li>Creative Industries (Design, Marketing, Media)</li>
        </ul>

        <h4> Enterprises and corporations ~ 642.344 companies</h4>

        <ul>
          <li>Information Technology (IT) and Software</li>
          <li>Manufacturing and Heavy Industry</li>
          <li>Financial Services and Banking</li>
          <li>Healthcare and Pharmaceuticals</li>
          <li>Energy and Utilities</li>
          <li>Automotive and Aerospace</li>
          <li>Telecommunications</li>
          <li>Retail and Chain Businesses</li>
        </ul>

        <h4> Eco-sustainable businesses ~ 32.117 companies </h4>

        <ul>
          <li>Renewable Energy Companies</li>
          <li>Green Building and Construction</li>
          <li>Sustainable Agriculture and Farming</li>
          <li>Eco-Friendly Product Manufacturers</li>
          <li>Sustainable Fashion and Apparel</li>
          <li>Recycling and Waste Management</li>
          <li>Carbon Offsetting and Environmental Consulting</li>
        </ul>

        <h4> Ecological organizations ~ 48.586 organizations </h4>

        <ul>
          <li>Environmental Non-profits</li>
          <li>Conservation Organizations</li>
          <li>Wildlife Protection Groups</li>
          <li> Climate Change Advocacy</li>
          <li>Sustainable Development NGOs</li>
          <li>Environmental Research Institutes</li>
          <li>Clean Energy Advocacy Groups</li>
        </ul>

        <h4> Non-profit organizations ~ 102.376 organizations </h4>

        <ul>
          <li>Social Services and Welfare Organizations</li>
          <li>Education and Research Non-profits</li>
          <li>Healthcare and Medical NGOs</li>
          <li>Arts and Culture Organizations</li>
          <li>Human Rights and Advocacy Groups</li>
          <li>Environmental Non-profits</li>
          <li>Community Development Organizations</li>
        </ul>

        <h4> Facility Management Companies (modernize / relocate companies) </h4>
        <ul>
          <li>Commercial Real Estate Management</li>
          <li>Building and Property Maintenance</li>
          <li>Facility Services for Corporations</li>
          <li>Hospitality and Hotel Management</li>
          <li>Healthcare Facility Management</li>
          <li>Educational Institutions Facility Services</li>
          <li>Government Facility Management</li>
          <li>Data Center Management</li>
        </ul>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Competition">
      <div class="market-research-tab" *ngFor="let company of companies_data">

        <img
          *ngIf="company.img"
          [src]=company.img
          [alt]=company.name
          style="height: 20vmin; max-width:100%; display: block; padding-bottom: 5vmin"
        />

        <table>
            <tr>
              <td> <b> Year </b> </td>
              <td> <b> Turnover </b> </td>
              <td> <b> Net Profit </b> </td>
            </tr>

            <tr *ngFor="let data of company.data">
              <td>{{data.year}}</td>
              <td>{{data.turnover}}</td>
              <td>{{data.netProfit}}</td>
            </tr>
        </table>

        <p>Source: {{company.source}}</p>

        <p class="imp-text">Market share: {{company.marketShare}}</p>
      </div>


      <div id="competitor-observation-container">
        <h5> Observații </h5>

        <ul>
          <li>
            OLX are cifre de afaceri și profituri nete semnificativ mai mari decât Publi24 în toți anii menționați.
          </li>

          <li>
            Ambele companii au înregistrat creșteri în cifra de afaceri și profitul net între 2020 și 2022.
          </li>

          <li>
            Procentele de creștere pentru OLX sunt mai mari atât pentru cifra de afaceri, cât și pentru profitul net în comparație cu Publi24.
          </li>
        </ul>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Eco Corp Marketplace">
      <div class="market-research-tab">
        <table>
          <tr>
            <td> <b> Year </b> </td>
            <td> <b> Turnover </b> </td>
            <td> <b> Net Profit </b> </td>
            <td> <b> Market Share </b> </td>
            <td> <b> Market Value </b> </td>
            <td> <b> Total Market Value </b> </td>
          </tr>

          <tr *ngFor="let pms_data of this.potentialMarketShare">
            <td> {{pms_data.year}} </td>
            <td> {{pms_data.turnover}} </td>
            <td> {{pms_data.netProfit}} </td>
            <td> {{pms_data.marketShare}} </td>
            <td> {{pms_data.marketValue}} </td>
            <td> {{pms_data.totalMarketValue}} </td>
          </tr>
        </table>
      </div>
    </p-tabPanel>
  </p-tabView>

  <p-fieldset legend="Conclusion">
    <p class="m-0">
      The data concludes that our company will have a solid target market and a solid market share which will add more
      competition on the specific segment, therefore the company might become profitable in the near future.
    </p>
  </p-fieldset>
</div>
