<div id="landing-primary-functions-container">
  <div id="landing-primary-functions-background"></div>
  <div id="slogan-container">
    <img
      loading="lazy"
      alt="Buy and sell main picture"
      src="./assets/landing-main-functions/Slogan-Image.jpg"
      style="width:87.5%; display:block;"
    >

    <p id="slogan-text">
        All Your Shopping to your doorstep at one click away
    </p>
  </div>

  <div id="main-functions-container">
    <img
      loading="lazy"
      alt="Buy and sell second picture"
      src="./assets/landing-main-functions/Buyer-Seller.jpg"
      style="width:80%; display:block"
    >

    <div id="buyer-seller-main-container">
      <div class="buyer-seller-container">
        <p class="buyer-seller-title">
          BUYER
        </p>

        <ul>
          <li class="buyer-seller-text">
            Users can add the products they want to their shopping cart
          </li>

          <br>

          <li class="buyer-seller-text">
            On checkout, they only need to choose the delivery options and the paying method
          </li>
        </ul>
      </div>

      <div class="buyer-seller-container">
        <p class="buyer-seller-title">
            SELLER
        </p>

        <ul>
          <li class="buyer-seller-text">
            Companies can create an account to post their products
          </li>

          <br>

          <li class="buyer-seller-text">
            After placing an order, the buyer receives a notification and then the order is prepared for delivery
          </li>
        </ul>
      </div>
    </div>

    <p id="ending-text">
      We take care of the rest!
    </p>
    <br>
  </div>
</div>
