/* You can add global styles to this file, and also import other style files */
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 4vmax;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 4.45vw;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 3vmax;
}

h4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5vmax;
}

h5 {
  text-align: center;
  font-family: sans-serif;
  font-size: 2vw;
}

#header-toolbar > div {
  border: rgb(255, 255, 255) !important;
  background-color: rgb(255, 255, 255) !important;
  position: relative;
  padding: 0 0 2vh 60px;
  width: 98vw;
}

#footer-toolbar > div{
  background: rgb(166, 214, 230) !important;
  width: 100%;
  padding: 0 3vmin;
}

.p-tabview-nav {
  justify-content: center;
}
